.db
{
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	TEXT-DECORATION: none;
}

.line
{
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 8px;
	TEXT-DECORATION: none;
}

.download
{
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	TEXT-DECORATION: none;
}

.download A:link
{
	color: #EC9500;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	TEXT-DECORATION: none;
}	

.download A:visited
{	
	color: #630000;
    	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	TEXT-DECORATION: none;
}	
	
.download A:hover
{	
	color: #EC9500;
    	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	TEXT-DECORATION: underline;
}

.default
{
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	TEXT-DECORATION: none;
}

.default A:link
{
	color: #EC9500;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	TEXT-DECORATION: none;
}	

.default A:visited
{	
	color: #630000;
    	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	TEXT-DECORATION: none;
}	
	
.default A:hover
{	
	color: #EC9500;
    	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	TEXT-DECORATION: underline;
}
.article_link
{
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	TEXT-DECORATION: none;
}
.article_link A:link
{
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
        font-weight: bold;
	TEXT-DECORATION: none;
}
.article_link A:visited
{
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
        font-weight: bold;
	TEXT-DECORATION: none;
}
.article_link A:hover
{
	color: #EC9500;
    font-family: Verdana, Arial, Helvetica;
        font-weight: bold;
	TEXT-DECORATION: none;
}
.article_message
{
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	TEXT-DECORATION: none;
}

.line
{
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 8px;
	TEXT-DECORATION: none;
}

.help
{
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	TEXT-DECORATION: none;
}

.help A:link
{
	color: #630000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	TEXT-DECORATION: none;
}	

.help A:visited
{	
	color: #630000;
    	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	TEXT-DECORATION: none;
}	
	
.help A:hover
{	
	color: #EC9500;
    	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	TEXT-DECORATION: underline;
}

.menu {
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	TEXT-DECORATION: none;
}

.menu A:link {
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	TEXT-DECORATION: none;
}

.menu A:visited {
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	TEXT-DECORATION: none;
}

.menu A:hover {
	color: #EC9500;
    font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	TEXT-DECORATION: underline;
}

.lanmenu {
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	TEXT-DECORATION: none;
}

.lanmenu A:link {
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	TEXT-DECORATION: none;
}

.lanmenu A:visited {
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	TEXT-DECORATION: none;
}

.lanmenu A:hover {
	color: #EC9500;
    font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	TEXT-DECORATION: underline;
}

.copy {
	color: #000000;
    font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	TEXT-DECORATION: none;
}